.heading {
  color: var(--color-heading);
}

.h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  letter-spacing: var(--letter-spacing-h1);
}

.h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  letter-spacing: var(--letter-spacing-h2);
}

.h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  letter-spacing: var(--letter-spacing-h3);
}

.h3--small {
  font-size: var(--font-size-h3--small);
  line-height: var(--line-height-h3--small);
  letter-spacing: var(--letter-spacing-h3--small);
}
