html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-medium);
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
}
