@use "../abstracts" as *;

:root,
:root[data-theme="light"] {
  // FONT FAMILIES
  --font-family-body: #{$font-family-body};

  // FONT WEIGHTS
  --font-weight-medium: #{$font-weight-medium};
  --font-weight-bold: #{$font-weight-bold};

  // FONT SIZES
  --font-size-h1: #{$font-size-h1--phone};
  --font-size-h2: #{$font-size-h2};
  --font-size-h3: #{$font-size-h3--phone};
  --font-size-h3--small: #{$font-size-h3--small};
  --font-size-body: #{$font-size-body};
  --font-size-body--small: #{$font-size-body--small--phone};

  // LINE HEIGHTS
  --line-height-h1: #{$line-height-h1};
  --line-height-h2: #{$line-height-h2};
  --line-height-h3: #{$line-height-h3};
  --line-height-h3--small: #{$line-height-h3--small};
  --line-height-body: #{$line-height-body};
  --line-height-body--small: #{$line-height-body--small};

  // LETTER SPACING
  --letter-spacing-h1: #{$letter-spacing-h1--phone};
  --letter-spacing-h2: #{$letter-spacing-h2};
  --letter-spacing-h3: #{$letter-spacing-h3--phone};
  --letter-spacing-h3--small: #{$letter-spacing-h3--small};
  --letter-spacing-body: #{$letter-spacing-body};
  --letter-spacing-body--small: #{$letter-spacing-body--small};

  // SPACING
  --space-0: #{$space-0};
  --space-1: #{$space-1};
  --space-2: #{$space-2};
  --space-3: #{$space-3};
  --space-4: #{$space-4};
  --space-5: #{$space-5};
  --space-6: #{$space-6};
  --space-7: #{$space-7};
  --space-8: #{$space-8};
  --space-9: #{$space-9};
  --space-10: #{$space-10};
  --space-11: #{$space-11};
  --space-12: #{$space-12};
  --space-13: #{$space-13};
  --space-14: #{$space-14};
  --space-15: #{$space-15};
  --space-16: #{$space-16};
  --space-17: #{$space-17};
  --space-18: #{$space-18};
  --space-19: #{$space-19};
  --space-20: #{$space-20};
  --space-21: #{$space-21};
  --space-22: #{$space-22};
  --space-23: #{$space-23};
  --space-24: #{$space-24};

  // MAIN COLORS
  --color-primary: #{$color-violetsAreBlue};
  --color-primary--light: #{$color-violetsAreBlue--light};
  --color-pending-bg: #{$color-darkOrange--light};
  --color-pending-text: #{$color-darkOrange};
  --color-success-bg: #{$color-eucalyptus--light};
  --color-success-text: #{$color-eucalyptus};
  --color-icon: #{$color-ube};
  --color-primary-button-text: #{$color-white};
  --color-button-4-bg: #{$color-charcoal};
  --color-delete-button-bg: #{$color-fireOpal};
  --color-delete-button-bg--hover: #{$color-fireOpal--light};
  --color-button-6-bg: #{$color-ghostWhite-2};
  --color-button-6-bg--hover: #{$color-lavenderWeb};
  --color-button-6-text: #{$color-ube};

  // LIGHT THEME COLORS
  --color-body-bg: #{$color-ghostWhite};
  --color-body-text: #{$color-coolGrey};
  --color-navbar-bg: #{$color-charcoal};
  --color-heading: #{$color-chineseBlack};
  --color-label-text: #{$color-ube};
  --color-main-component-bg: #{$color-white};
  --color-secondary-component-bg: #{$color-charcoal};
  --color-input-border: #{$color-lavenderWeb};
  --color-input-border--active: #{$color-violetsAreBlue--light};
  --color-button-3-bg: #{$color-ghostWhite-2};
  --color-button-3-bg--hover: #{$color-lavenderWeb};
  --color-button-3-text: #{$color-ube};
  --color-button-4-bg--hover: #{$color-chineseBlack};
  --color-button-4-text: #{$color-coolGrey};

  // TABLET STYLES
  @include mq(tablet) {
    --font-size-h1: #{$font-size-h1--tablet};
    --font-size-h3: #{$font-size-h3--tablet};
  }

  // DESKTOP STYLES
  @include mq(desktop) {
    --font-size-body--small: #{$font-size-body--small--desktop};
  }
}

:root[data-theme="dark"] {
  // DARK THEME COLORS
  --color-body-bg: #{$color-eerieBlack};
  --color-body-text: #{$color-lavenderWeb};
  --color-navbar-bg: #{$color-yankeesBlue};
  --color-heading: #{$color-white};
  --color-label-text: #{$color-lavenderWeb};
  --color-main-component-bg: #{$color-yankeesBlue};
  --color-secondary-component-bg: #{$color-chineseBlack};
  --color-input-border: #{$color-yankeesBlue-2};
  --color-input-border--active: #{$color-yankeesBlue-2};
  --color-button-3-bg: #{$color-yankeesBlue-2};
  --color-button-3-bg--hover: #{$color-white};
  --color-button-3-text: #{$color-lavenderWeb};
  --color-button-4-bg--hover: #{$color-chineseBlack};
  --color-button-4-text: #{$color-lavenderWeb};
}
