@use "../abstracts" as *;

:root,
:root[data-theme="light"] {
  // MAIN COLORS
  --color-primary: #{$color-primary};
  --color-primary-light: #{$color-primary-light};
  --color-success: #{$color-success};
  --color-pending: #{$color-pending};
  --color-danger: #{$color-danger};
  --color-danger-light: #{$color-danger-light};
  --color-text-4: #{$color-text-4};

  // LIGHT THEME COLORS
  --color-bg-1: #{$color-bg-1--light};
  --color-bg-2: #{$color-bg-2--light};
  --color-bg-3: #{$color-bg-3--light};
  --color-bg-4: #{$color-bg-4--light};
  --color-bg-5: #{$color-bg-5--light};
  --color-text-1: #{$color-text-1--light};
  --color-text-2: #{$color-text-2--light};
  --color-text-3: #{$color-text-3--light};
}

:root[data-theme="dark"] {
  // DARK THEME COLORS
  --color-bg-1: #{$color-bg-1--dark};
  --color-bg-2: #{$color-bg-2--dark};
  --color-bg-3: #{$color-bg-3--dark};
  --color-bg-4: #{$color-bg-4--dark};
  --color-bg-5: #{$color-bg-5--dark};
  --color-text-1: #{$color-text-1--dark};
  --color-text-2: #{$color-text-2--dark};
  --color-text-3: #{$color-text-3--dark};
}
