@use "../abstracts" as *;

:root,
:root[data-theme="light"] {
  // MAIN COLORS
  --color-primary: #{$color-primary};
  --color-primary-light: #{$color-primary-light};
  --color-success: #{$color-success};
  --color-pending: #{$color-pending};
  --color-danger: #{$color-danger};
  --color-danger-light: #{$color-danger-light};
  --color-text-4: #{$color-text-4};

  // LIGHT THEME COLORS
  --color-bg-1: #{$color-bg-1--light};
  --color-bg-2: #{$color-bg-2--light};
  --color-bg-3: #{$color-bg-3--light};
  --color-bg-4: #{$color-bg-4--light};
  --color-bg-5: #{$color-bg-5--light};
  --color-text-1: #{$color-text-1--light};
  --color-text-2: #{$color-text-2--light};
  --color-text-3: #{$color-text-3--light};

  // FONT FAMILIES
  --font-family-body: #{$font-family-body};

  // FONT WEIGHTS
  --font-weight-medium: #{$font-weight-medium};
  --font-weight-bold: #{$font-weight-bold};

  // FONT SIZES
  --font-size-h1: #{$font-size-h1};
  --font-size-h2: #{$font-size-h2};
  --font-size-h3: #{$font-size-h3};
  --font-size-h3--small: #{$font-size-h3--small};
  --font-size-body: #{$font-size-body};
  --font-size-body--small: #{$font-size-body--small};

  // LINE HEIGHTS
  --line-height-h1: #{$line-height-h1};
  --line-height-h2: #{$line-height-h2};
  --line-height-h3: #{$line-height-h3};
  --line-height-h3--small: #{$line-height-h3--small};
  --line-height-body: #{$line-height-body};
  --line-height-body--small: #{$line-height-body--small};

  // LETTER SPACING
  --letter-spacing-h1: #{$letter-spacing-h1};
  --letter-spacing-h2: #{$letter-spacing-h2};
  --letter-spacing-h3: #{$letter-spacing-h3};
  --letter-spacing-h3--small: #{$letter-spacing-h3--small};
  --letter-spacing-body: #{$letter-spacing-body};
  --letter-spacing-body--small: #{$letter-spacing-body--small};

  // SPACING
  --space-0: #{$space-0};
  --space-1: #{$space-1};
  --space-2: #{$space-2};
  --space-3: #{$space-3};
  --space-4: #{$space-4};
  --space-5: #{$space-5};
  --space-6: #{$space-6};
  --space-7: #{$space-7};
  --space-8: #{$space-8};
  --space-9: #{$space-9};
  --space-10: #{$space-10};
  --space-11: #{$space-11};
  --space-12: #{$space-12};
  --space-13: #{$space-13};
  --space-14: #{$space-14};
  --space-15: #{$space-15};
  --space-16: #{$space-16};
  --space-17: #{$space-17};
  --space-18: #{$space-18};
  --space-19: #{$space-19};
  --space-20: #{$space-20};
  --space-21: #{$space-21};
  --space-22: #{$space-22};
  --space-23: #{$space-23};
  --space-24: #{$space-24};
}

:root[data-theme="dark"] {
  // DARK THEME COLORS
  --color-bg-1: #{$color-bg-1--dark};
  --color-bg-2: #{$color-bg-2--dark};
  --color-bg-3: #{$color-bg-3--dark};
  --color-bg-4: #{$color-bg-4--dark};
  --color-bg-5: #{$color-bg-5--dark};
  --color-text-1: #{$color-text-1--dark};
  --color-text-2: #{$color-text-2--dark};
  --color-text-3: #{$color-text-3--dark};
}
