$color-violetsAreBlue: #7c5dfa;
$color-violetsAreBlue--light: #9277ff;
$color-eucalyptus: #33d69f;
$color-eucalyptus--light: rgba($color-eucalyptus, 0.0571);
$color-darkOrange: #ff8f00;
$color-darkOrange--light: rgba($color-darkOrange, 0.0571);
$color-fireOpal: #ec5757;
$color-fireOpal--light: #ff9797;
$color-white: #ffffff;
$color-ghostWhite: #f8f8fb;
$color-ghostWhite-2: #f9fafe;
$color-charcoal: #373b53;
$color-coolGrey: #888eb0;
$color-ube: #7e88c3;
$color-chineseBlack: #0c0e16;
$color-eerieBlack: #141625;
$color-yankeesBlue: #1e2139;
$color-yankeesBlue-2: #252945;
$color-lavenderWeb: #dfe3fa;
