$space-0: 0;
$space-1: 0.4rem;
$space-2: 0.8rem;
$space-3: 1.2rem;
$space-4: 1.6rem;
$space-5: 2rem;
$space-6: 2.4rem;
$space-7: 2.8rem;
$space-8: 3.2rem;
$space-9: 3.6rem;
$space-10: 4rem;
$space-11: 4.4rem;
$space-12: 4.8rem;
$space-13: 5.2rem;
$space-14: 5.6rem;
$space-15: 6rem;
$space-16: 6.4rem;
$space-17: 6.8rem;
$space-18: 7.2rem;
$space-19: 7.6rem;
$space-20: 8rem;
$space-21: 8.4rem;
$space-22: 8.8rem;
$space-23: 9.2rem;
$space-24: 9.6rem;
