// FONT FAMILIES
$font-family-body: Spartan, sans-serif;

// FONT WEIGHTS
$font-weight-medium: 500;
$font-weight-bold: 700;

// FONT SIZES
$font-size-h1: 3.2rem;
$font-size-h2: 2rem;
$font-size-h3: 1.6rem;
$font-size-h3--small: 1.2rem;
$font-size-body: 1.2rem;
$font-size-body--small: 1.1rem;

// LINE HEIGHTS
$line-height-h1: 3.6rem;
$line-height-h2: 2.2rem;
$line-height-h3: 2.4rem;
$line-height-h3--small: 1.5rem;
$line-height-body: 1.5rem;
$line-height-body--small: 1.8rem;

// LETTER SPACING
$letter-spacing-h1: -0.1rem;
$letter-spacing-h2: -0.063rem;
$letter-spacing-h3: -0.08rem;
$letter-spacing-h3--small: -0.025rem;
$letter-spacing-body: -0.025rem;
$letter-spacing-body--small: -0.023rem;
